<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
</head>
<body>
    <form action="/users" method = "post">
        <label for="name">Name</label>
        <input type="text" name ="name" placeholder = "Enter name" >
        <label for="age">Age</label>
        <input type="number" name="age" placeholder = "Enter age">
        <button type = "submit">Save</button>
    </form>
</body>
</html>